body {
    background-color: #e7ecf2;
}

ul {
    list-style: none;
}

.Profile {
    justify-content: space-between;
    justify-items: space-between;
    height: 300px;
    width: 240px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.Description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Avatar {
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 50%;
    background-color: cornsilk;
    display: block;
    width: 80px;
}

.Name {
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 18px;
    color: #404145;
}

.Tag {
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 15px;
    color: #acb3bb;
}

.Location {
    margin-top: 0;
    margin-bottom: 35px;
    font-size: 15px;
    color: #acb3bb;
}

.Stats {
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #eff3f6;
}

.StatsBox {
    border: solid 1px #dce3e8;
    width: 33.3%;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Label {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 13px;
    color: #acb3bb;
}

.Quantity {
    font-size: 15px;
}
